*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 50vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: hsl(137, 46%, 24%);
    font-family: 'Times New Roman', Times, serif;
    /* flex-direction: column; */
}